* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(235, 235, 235);
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* ===================================== */

.container {
  border: 1px solid black;
  /* background-color: rgb(56, 45, 179); */
  display: grid;
  grid-template-columns: 1fr;
  width: 50%;
  place-items: center;
  height: 70vh;
}
.add-item-box-container {
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 3rem;
}
.add-item-box-container > input {
  width: 80%;
  font-size: 2rem;
}

.add-item-box-container > button {
  /* background-color: red;
  width: 8rem; */
}
.display-container {
  border: 1px solid #ccc; /* Optional: Border for visibility */
  display: grid;
  grid-template-columns: 40rem;
  max-height: 450px;
  height: 400px;
  overflow-y: auto;
  overflow-x: hidden;
  width: 100%;
  background: #f9f9f9; /* Light background */
  /* padding: 10px; */
}
.display-container > ul > li {
  list-style-type: none;
  margin-top: 1rem;
}
button {
  background-color: #3498db; /* Blue */
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background 0.3s ease-in-out;
}

button:hover {
  background-color: #2980b9; /* Darker blue */
}

hr {
  border: 1px solid #ccc;
  margin: 5px 0; /* Adjust spacing */
}
ul {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 0;
  margin: 0;
}
ul > li {
  /* background-color: pink; */
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.edit-delete-holder {
  margin-left: auto;
}
